.landingPageMenu {
  top: 0;
  left: 0;
  height: 70px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  background-color: black;
  padding: 0px 20px;
  width: 100%;
  box-shadow: 0px 0px 5px rgb(100, 100, 100);
  z-index: 1;
  position: relative;
}

.landingPageMenu .logo {
  padding: 10px 0;
  display: flex;
  align-items: center;
  gap: 10px;
  height: 100%;
}

.landingPageMenu .logo img {
  height: 100%;
}

.landingPageMenu .logo h2 {
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.landingPageMenu .navbar {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 30px;
}

.landingPageMenu .navbar > ul {
  display: flex;
  list-style-type: none;
  height: 100%;
}

.landingPageMenu .navbar > ul > li {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 15px;
}

.landingPageMenu .navbar > ul > li > a {
  font-size: 16px;
  text-decoration: none;
}

.landingPageMenu .navbar > ul > li:hover {
  text-decoration: underline;
  cursor: pointer;
}

.landingPageMenu .navbar img {
  height: 70%;
  cursor: pointer;
  transition: ease 0.2s;
}

.landingPageMenu .navbar img:hover {
  transform: scale(1.15);
}

.landingPageMenu .genre-dropdown-menu,
.landingPageMenu .ratings-dropdown-menu {
  list-style-type: none;
  justify-content: center;
  width: 100%;
  display: none;
  position: absolute;
  top: 70px;
  left: 0;
  background-color: white;
  text-align: center;
  box-shadow: 0px 0px 5px rgb(205, 205, 205);
  border-radius: 0 0 20px 20px;
  overflow: hidden;
}

.landingPageMenu .genre-dropdown-menu > li,
.landingPageMenu .ratings-dropdown-menu > li {
  position: relative;
  min-width: 100px;
  padding: 20px 10px;
  cursor: pointer;
}

.landingPageMenu .genre-dropdown-menu > li::after,
.landingPageMenu .ratings-dropdown-menu > li::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  width: 1px;
  height: 50%;
  transform: translateY(-50%);
  background-color: rgb(220, 220, 220);
}

.landingPageMenu .genre-dropdown-menu > li:last-child::after,
.landingPageMenu .ratings-dropdown-menu > li:last-child::after {
  display: none;
}

.landingPageMenu .genre-dropdown-menu > li:last-of-type,
.landingPageMenu .ratings-dropdown-menu > li:last-of-type {
  border-bottom: none;
}

.landingPageMenu .genre-dropdown-menu > li:hover,
.landingPageMenu .ratings-dropdown-menu > li:hover {
  background-color: rgb(240, 240, 240);
}

.landingPageMenu .genre-dropdown-menu > li > a,
.landingPageMenu .ratings-dropdown-menu > li > a {
  text-decoration: none;
  color: black;
}

.genre-menu-parent:hover .genre-dropdown-menu,
.ratings-menu-parent:hover .ratings-dropdown-menu {
  display: flex;
}
