.movies-section {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  width: 100%;
  padding: 50px 80px;
}

.movies-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.movies-container .movie-card {
  flex: 1 1 calc((100% - 90px) / 4);
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 280px;
  min-width: 280px;
  border-radius: 20px;
  overflow: hidden;
  background-color: black;
  border: 1px solid black;
  cursor: pointer;
  transition: ease 0.2s;
  box-shadow: 0 0 5px gray;
}

.movies-container .movie-card:hover {
  transform: scale(1.05);
}

.movies-container .movie-card img {
  width: 100%;
  height: 350px;
}

.movie-card .movie-heading {
  border-top: 1px solid gray;
  padding: 10px;
  text-align: center;
}

.movie-card .movie-rating {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: rgb(224, 190, 0);
  height: 40px;
  width: 40px;
  border-radius: 50%;
  font-weight: bold;
  font-size: 14px;
  border: 2px solid white;
}

.previous-page,
.next-page {
  position: fixed;
  top: 50vh;
  width: 50px;
  height: 50px;
  padding: 10px 5px;
  background-color: white;
  border: none;
  border-radius: 50%;
  color: black;
  font-weight: bold;
  letter-spacing: 0;
  font-size: 18px;
  cursor: pointer;
  transition: ease 0.2s;
}

.previous-page:hover,
.next-page:hover {
  transform: scale(1.2);
  box-shadow: 0px 0px 10px 7px black;
}

.previous-page {
  left: 20px;
}

.next-page {
  right: 20px;
}

.movie-info-dialog {
  margin: 0 auto;
  position: fixed;
  display: flex;
  gap: 20px;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 80%;
  height: 80%;
  z-index: 2;
  border: 1px solid rgb(205, 205, 205);
  border-radius: 20px;
  padding: 20px;
  background-color: black;
}

.movie-info-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.movie-info-dialog h2,
.movie-info-dialog span {
}

.movie-info-container h2 {
  margin-bottom: 20px;
  font-size: 30px;
}

.movie-info-nav {
  list-style-type: none;
  display: flex;
  gap: 20px;
}

.movie-info-nav > li {
  position: relative;
  padding: 2px 0;
  cursor: pointer;
}

.movie-info-nav .active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  border-radius: 2px;
  background-color: white;
}

.movie-info-container p {
  display: flex;
}

.movie-reviews {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 10px;
}

.movie-reviews h3,
.movie-reviews span {
  color: black;
}

.movie-reviews h3 {
  margin-bottom: 10px;
}

.movie-reviews p {
  padding: 10px;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid black;
}
