#admin-dropdown-container {
  display: inline-block;
  position: relative;
}

#admin-dropdown.visible {
  display: block;
}

#admin-label {
  cursor: pointer;
  font-weight: bold;
  color: #333;
  padding: 5px;
  background-color: #f0f0f0;
  border-radius: 4px;
  border: 1px solid #ddd;
  margin-left: 10px;
}

#admin-label:hover {
  background-color: #e0e0e0;
}

#admin-dropdown {
  display: none;
  position: absolute;
  top: 30px;
  left: 0;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  min-width: 160px;
  z-index: 10;
}

#admin-dropdown option {
  padding: 8px;
  cursor: pointer;
}

#admin-dropdown option:hover {
  background-color: #f1f1f1;
}
