@import url(fonts/fonts.css);
@import url(colors/colors.css);

/*login*/
@import url(login-register/login.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
  background-color: var(--backgorundColor);
}
